<div [ngSwitch]="device.getType()">
    <div *ngSwitchCase="type.Toggle" class="card toggle" (click)="device.toggle()" [class.green]="device.isToggled()">
        <div class="card-content" [class.white-text]="device.isToggled()">
            <span class="card-title">{{device.name}}</span>
            <p>
                {{device.description}}
            </p>
            <h4>{{device.isToggled() ? 'On' : 'Off'}}</h4>
        </div>
    </div>

    <div *ngSwitchCase="type.DhtSensor" class="card">
        <div class="card-content">
            <span class="card-title">{{device.name}}</span>
            <p>
                {{device.description}}
            </p>
            <h4>{{device.temperature}}°C</h4>
            <h4>{{device.humidity}}%</h4>
        </div>
    </div>

    <div *ngSwitchDefault class="card">
        <div class="card-content">
            <span class="card-title">{{device.name}}</span>
            <p>
                pin: {{device.pin}}, {{device.description}}
            </p>
            <h4>N/A</h4>
        </div>
    </div>
</div>