<header>
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/dashboard" class="brand-logo center">Open Home Dashboard</a>
      <a materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick: false}]" href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav fixed" id="main-menu">
        <li><a routerLink="/dashboard" routerLinkActive="active" class="active">Home</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>